# .gitignore

# =============================================================================
# Generic system files
# =============================================================================

# === Linux / Unix
nohup.out

# === Mac OS / OS X
._*
.AppleDouble
.DS_Store
.DS_Store?
.LSOverride
.Spotlight-V100
.Trashes
Icon
Icon?

# === Windows
desktop.ini
Thumbs.db

# =============================================================================
# Editor files
# =============================================================================

# === Emacs
.emacs.*
.elc
auto-save-list
tramp
*~
\#*

# === Textmate
*.tmproj
tmtags

# === Vim
*.sw?

# =============================================================================
# Development files
# =============================================================================

/.idea/
/.vscode/

# =============================================================================
# Other applications
# =============================================================================

.picasa.ini

# =============================================================================
# Generic files
# =============================================================================

*.bak
*.log
*.tmp
